[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
ics = ">=0.4"
pytz = "*"
httplib2 = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
python-dateutil = "*"
MechanicalSoup = "*"
Babel = "*"
flask = "*"
gunicorn = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
